
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageTransaction</title>
</head>
<body>
    <fieldset>
        <legend> Manage Transection </legend>
        <table align="center">
            <tr>
                <td>
                    Search
                </td>
                <td><input type="text" name="Search" /></td>
                <td><input type="image" src="images/search.png" alt="Submit" width="25" height="25"></td>
            </tr>

        </table>
        <br>
        <table width="100%">
            <tr bgcolor="#00FF00">
                <th>Voucher Id </th>
                <th>Amount</th>
                <th>VoucherCreator</th>
                <th>VoucherOwner</th>
                <th>ValidityDate </th>
                <th> Description</th>
                <th>Options</th>
                <td> </td>
            </tr>
            
        </table>
    </fieldset>
</body>
</html>

