@model Allie.Models.LogIn
<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log In</title>
</head>
<body>
    <div align="center">

        <form method="post">
            @Html.AntiForgeryToken()

            UserMail: <input type="text" name="UserMail" />&nbsp; 
            <br />
            Password: <input type="password" name="Password" />&nbsp; 
            <br />
            <input type="submit" value="Log In" />

        </form>
        <label style="color:red">@ViewBag.ErrorMessage</label>
       
    </div>
</body>
</html>
