
@{
    ViewBag.Title = "UserHome";
}

<h1>Home</h1>


<select>
    <option value="CreateAccount"><a href="http://GoToXYZPage">Create Account</a></option>
    <option value="ManageAccounts"><a href="http://GoToXYZPage">Manage Account/s</a></option>
</select>
<select>
    <option value="CreateLedger"><a href="http://GoToXYZPage">Create Ledger</a></option>
    <option value="ManageLedgers"><a href="http://GoToXYZPage">Manage Ledger/s</a></option>
</select>
<select>
    <option value="CreateTransaction"><a href="http://GoToXYZPage">Create Transaction</a></option>
    <option value="ManageTransactions"><a href="http://GoToXYZPage">Manage Transaction/s</a></option>
</select>
<select>
    <option value="CreateVoucher"><a href="http://GoToXYZPage">Create Vouchers</a></option>
    <option value="ManageVouchers"><a href="http://GoToXYZPage">Manage Vouchers</a></option>
</select>
<select>
    <option value="BalanceSheet"><a href="http://xyzlink">Balance Sheet</a></option>
    <option value="Profit Sheet"><a href="http://GoToXYZPage">Profit Sheet</a></option>
    <option value="Loss Sheet"><a href="http://GoToXYZPage">Loss Sheet</a></option>
</select>
<hr>
<br><br><br>
Allie Solutions Limited<br>
H3, R11<br>
Nikunja-2<br>



