
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateLedger</title>
</head>
<body>
    <fieldset>
        <legend> Create Ledger </legend>
        <table align="center">
            <tr>
                <td>
                    Ledger Name
                </td>
                <td>
                    <input type="text" name="LedgerName">
                </td>
            </tr>

            <tr>
                <td>
                    Ledger Description
                </td>
                <td>
                    <textarea rows="4" cols="50"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="Submit" value="Create" />
                    <input type="Reset" value="Clear" />
                 </td>
            </tr>
        </table>

    </fieldset>
    
</body>
</html>
