
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateLedger</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend> Create Ledger </legend>
            <table align="center">
                <tr>
                    <td>
                        Ledger Name
                    </td>
                    <td>
                        <input type="text" name="LedgerName">
                    </td>
                </tr>

                <tr>
                    <td>
                        Ledger Period
                    </td>
                    <td>
                        <input type="date" name="LedgerPeriod" value="" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="Submit" value="Create" />
                        <input type="Reset" value="Clear" />
                    </td>
                </tr>
            </table>

        </fieldset>
    </form>
</body>
</html>
