
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManagLedger</title>
</head>
<body>
    <fieldset>
        <legend> Manage Ledger </legend>
        <table width="90%">
            <tr>
                <th>Ledger Name</th>
                <th>Ledger Description</th>
                <th>Option</th>
            </tr>
            <tr align="center">
                <td></td>
                <td></td>
                <td><a href="url">Edit</a> <a href="url">Delete</a></td>
            </tr>
        </table>
    </fieldset>
</body>
</html>
